/* @import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import 'react-notifications/lib/notifications.css';

:root {
  --darkBlue: #144F71;
  --lightBlue: #A2DAFF;
  --lightBlueFaded: #a2daffcc;
  --lightBluePlus: #DEEBF4;
  --lightBluePlusFaded: #DEEBF4cc;
  --cospacemenublue: #6AACDC;
  --darkBlueFaded: #144F71dd;
  --darkBlueFadedPlus: #114566;
  --white: #FCF6F6; 
}

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

select:focus,
textarea:focus,
button:focus,
input:focus{ 
  outline: none;
}


.getstarted_titlebox,
.homepage_titlebox{
  background-color: var(--darkBlue);
  border-radius: 40px;
  width: 23%;
  height: 69%;
  position: absolute;
  top: 7%;
  right: 11%;
  z-index: 1;
}

.getstarted_titlebox{
  left: 11%;
}

.getstarted_titlebox h1,
.homepage_titlebox h1{
  position: absolute;
  top: 60%;
  right: 10%;

  font-family: 'Red Rose';
  font-style: normal;
  font-weight: bold;
  font-size: 300%;
  line-height: 45px;

  color: var(--white);
}

.getstarted_titlebox h1{
  top: 10%;
  right: 25%;
}

.getstarted_blankspace,
.homepage_blankspace{
  position: absolute;
  right: 0;
  border-radius: 40px 0px 0px 40px;
  background-color: var(--lightBlue);
  width: 30%;
  height: 100%;
}

.getstarted_blankspace{
  left: 0;
  border-radius: 0px 40px 40px 0px;
}

.vector{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.getstarted_vector img,
.homepage_vector img{
  object-fit: cover;
}

.getstarted_vector{
  position: absolute;
  left: 40%;
  top: 15%;
}

.button1{
  width: 70%;
  display: flex;
  justify-content: center;
}

.button1 a{
  display: flex;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  background-color: var(--darkBlue);
  color: var(--white);
  width: 70%;
  height: 60px;

  font-size: 32px;
  line-height: 25px;
}

.button1 a:hover{
  background-color: var(--darkBlueFaded);
  cursor: pointer;
}

/* Navbar */

nav{
  position: fixed;
  background-color: var(--darkBlue);
  height: 40px;
  width: 100%; 
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 75% 25%;
  align-items: center;
  z-index: 0;
}

.logo{
  padding-left: 10px;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 40px;
  color: var(--white);
}

/* .searchbar form{
  display: flex;
  align-items: center;
}

.searchbar form input[type = text]{
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 10px 0px 0px 10px;
  font-size: larger;
  border: none;
  background-color: #ffffff;
}

.searchbar form button{
  height: 50px;
  padding-left: 10px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: #ffffff;
}

.searchbar form button img{
  padding-right: 10px;
}

.searchbar form button:hover{
  background-color: var(--white);
  cursor: pointer;
}

.searchbar form button img{
  height: 35px;
} */

.notificationandprofile{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.notificationandprofile button{
  border: none;
  background-color: var(--darkBlue);
  margin-right: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.notificationandprofile button:hover{
  cursor: pointer;
  background-color: var(--darkBlueFadedPlus);
}

.notificationandprofile button img{
  height: 20px;
}

/* Sidemenu */

.sidemenu{
  position: fixed;
  top: 40px;
  left: 0px;
  bottom: 0px;
  background-color: var(--lightBlue);
  width: 75px;
  z-index: 50;
}

.cospacemenu a,
.sidemenu a{
  width:  100%;
}

.cospacemenu ul,
.sidemenu ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1px;
  gap: 1px;
}

.sidemenu img{
  height: 30px;
}

.sidemenu p{
  font-size: 0.79em;
}

.cospacemenu button,
.sidemenu button{
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.cospacemenu button:hover,
.sidemenu button:hover{
  background-color: var(--darkBlueFadedPlus);
  color: var(--white);
}


.notselected{
  background: none;
}

.selected{
  background-color: var(--darkBlueFadedPlus);
  color: var(--white);
} 

/* Co-Space Menu */

.cospacemenu{
  position: fixed;

  border-left: 1px solid var(--lightBlue);

  top: 41px;
  left: 75px;
  bottom: 0px;
  background-color: var(--cospacemenublue);
  width: 260px;
}

.cospacemenu h1{
  color: var(--white);
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.cospacemenu p{
  font-size: 18px;
  padding: 5px;
}

.cospacemenu img{
  height: 50px;
}

/* Google Login Button */

.googlelogin button{
  padding: 10px;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: var(--lightBlue);

  border: none;
  position: absolute;
  width: 75%;
  top: 60%;
  left: 13%;
  
  font-size: 24px;
  font-weight: bolder;
}

.googlelogin button:hover{
  cursor: pointer;
  background-color: var(--lightBlueFaded);
}

/* Cospace section */

.todosection,
.calendarsection,
.createcospace,
.cospacesection{
  position: absolute;
  top: 40px;
  left: 80px;

  display: flex;
  flex-direction: column;

  padding: 10px;

  width: calc(100% - 100px);
}

.createcospacebutton{
  position: absolute;
  top: 16px;
  right: 100px;

  border: none;
  padding: 5px;


  display: flex;
  align-items: center;
  background-color: var(--lightBluePlus);


  gap: 3px;

  border-radius: 5px;

  font-size: 18px;
  cursor: pointer;
}

.createcospacebutton:hover{
  background-color: var(--lightBluePlusFaded);
}

.createcospacebutton img{
  width: 24px;
}

.mainpageheading h1{
  margin-top: 30px;
  font-size: 48px;
}

.cospacelist{
  margin: 20px;

  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 50px;

  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;

  justify-content: center;
}

.cospacelist a{
  color: var(--white)
}

.cospace:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--darkBlueFaded);
}

.cospace{
  background-color: var(--darkBlue);
  height: 250px;

  border-radius: 5px;
  align-items: center;

  color: var(--white);
}

.cospace h3{
  padding-top: 10px;
  text-align: center;
}

.cospace p{
  padding: 10px;
}



/* Create Cospace Section */

.createcospace{
  font-size: 36px;
  gap: 30px;

  align-items: center;
}

.createcospace h1{
  font-size: 64px;
  text-align: center;
}

.createcospace form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coactornames,
.cospacedescription,
.cospacename{
  display: flex;
  align-items: center;

  gap: 10px;  
}

.cospacedescription{
  flex-direction: column;
  align-items: flex-start;
}

.cospacedescription textarea{
  padding: 10px;
}

.createcospace form input{
  border: none;
  border-bottom: solid 1px #000;
  height: 24px;
  width: 50%;
  font-size: 20px;
  font-weight: 400;
}

.submitcospace{
  padding-top: 20px;
  width: 30%;
}

#addnewtask,
#create{
  border: none;
  border-radius: 5px;
  font-size: 24px;
  color: var(--white);
  background-color: var(--darkBlue);
  padding: 10px;
  height: 50px;
  text-align: center;
  align-items: center;
  cursor: pointer;
} 

#addnewtask:hover,
#create:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--darkBlueFaded);
}

/* React-tag-input */

.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
  padding: 0 4px;
}

/* Styles for selected tags */
.ReactTags__selected .ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 13px;
  display: inline-block;
  padding: 6px;
  margin: 0 5px 5px 5px;
  cursor: default !important;
  border-radius: 2px;
}
.ReactTags__selected .ReactTags__remove {
  color: #9c9c9c;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
  color: #000 !important;
  font-weight: normal !important;
  font-size: 14px !important;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 200px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 15px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}


/* Chat */
.tasksection,
.coactorssection,
.content,
.chat-window {
  position: absolute;
  right: 0;
  top: 40px;
  width: calc(100% - 335px);
  height: calc(100% - 40px);
  background: var(--lightBluePlusFaded);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.4s ease;
  z-index: 10;
}

.chat-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  background: var(--white);
  height: 2rem;
  padding: 0.4rem 2rem 0.4rem 1rem;
  letter-spacing: 0.05rem;
}

.callbtns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.callbtns button {
  border: none;
  background: none;
  align-items: center;
  cursor: pointer;
}

.callbtns img {
  height: 30px;
  width: 30px;
}

.callbtns img:hover{
  height: 33px;
  width: 30px;
}

.chat-area {
  color: #0d0d29;
  font-weight: 600;
  flex: 2 2 auto;
  overflow-y: auto;
}

.chat-area p{
  font-size: small;
  padding: 5px 25px;
  text-align: center;
}

.chat {
  width: 40%;
  background-color: #fff;
  margin: 0.5rem;
  border-radius: 12px;
  padding: 0.5rem;
}

.chat-name {
  display: block;
  font-size: 0.85rem;
  padding-bottom: 0.5rem;
  color: #4548F4;
}

.chat-msg {
  line-height: 1.3;
  word-wrap: break-word;
}

.send-area {
  /* background-color: #444; */
  padding: 0.6rem;
  display: flex;
  gap: 0.5rem;
}

.send-area form{
  width: 100%;
  display: flex;
  flex-direction: row;

  gap: 5px;
}

.send-area input {
  padding: 0.5rem 0.6rem;
  font-size: 1rem;
  width: 100%;
  outline: none;
  border: 0.5px solid #fff;
  background-color: var(--white);
  border-radius: 40px;
}

.send-area button {
  border-radius: 40px;
  border: none;
  width: 80px;
  padding: auto 0.6rem;
  background-color: #4548F4;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.send-area button:hover {
  background-color: #5558fd;
}

/* Show Username */

.showusernamecomponent{
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 3rem;
}

.showusernamecomponent p{
  color:#114566;
  text-align: center;
}

.showusernamecomponent username{
  color: rgb(252, 7, 7);
}

.linktomain{
  margin-top: 50px;
  text-align: center;
}

.linktomain button{
  font-size: 1.5rem;

  cursor: pointer;
  
  border: none;
  background-color: var(--darkBlueFadedPlus);
  color: var(--white);

  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.linktomain button:hover{
  background-color: var(--darkBlueFaded);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* TODO */
.App {
  width: 100vw;
  height: 100vh;
  background-color: #e0e0e0;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;
}

.container {
  width: 500px;
  min-height: 300px;
  padding: 10px;
}

.task_container {
  margin: 10px 0;
  cursor: pointer;
}

.task {
  flex-grow: 1;
  margin-left: 10px;
  margin-top: 5px;
}

.line_through {
  text-decoration: line-through;
}

/*Chat*/

/* tasksection */

.tasksection h1{
  margin-top: 5px;
  text-align: center;
}

.tasksection h2{
  font-weight: 100;
  font-size: 1rem;
  margin: 10px;
  text-align: center;
}

.taskform{
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskform div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.taskform .taskname{
  width: 50%;
  height: 50px;
}

.taskform .taskstatus{
  width: 10%;
}

.taskform .taskstatus .taskstatusselect{
  height: 30px;
  font-size: 14px;
}

.taskform .tasknotes{
  width: 50%;
}

.taskform .submitnewtask{
  width: 10%;
  margin-top: 10px;
}

#addnewtask{
  height: 30px;
  font-size: 18px;
  padding: 2px;
}

/* Task List */

.tasklist{
  margin: 10px;
}

.taskcards{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskheading{
  overflow-y: hidden;
  height: auto;
  margin-bottom: 20px;
}

.taskcards li{
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 20px;
}

.taskcard{
  width: 100%;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
}

.taskcontrols{
  display: flex;
  gap: 5px;
}

.taskcontrols button{
  padding: 5px;
  border: none;
  border-radius: 5px;

  color: white;
  cursor: pointer;
}

#deletebtn:hover,
#editbtn:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

#editbtn:hover{
  background-color: #0095ffb6;
}

#deletebtn:hover{
  background-color: rgba(255, 0, 0, 0.74);
}

#editbtn{
  background-color: #0095ff;
}

#deletebtn{
  background-color: rgb(255, 0, 0);
}

/* .coactorssection */

.coactorssection{
  text-align: center;
}

.tasksection h1{
  font-size: 48px;
}

.coactorssection h1{
  font-size: 64px;
}

.coactorList{
  margin-top: 100px;

  font-size: 24px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 30px;
}

.coactor{
  width: 80%;
  padding: 5px;

  border-radius: 5px;

  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}


#noticontainer{
  position:absolute;
  z-index: 200;
  top: 50px;
  right: 20px;
}



