@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300&display=swap');

:root {
  --darkBlue: #144F71;
  --lightBlue: #A2DAFF;
  --darkBlueFaded: #144F71dd;
  --darkBlueFadedPlus: #114566;
  --white: #FCF6F6; 
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Red Rose';
}

input:focus{ outline: none; }

.getstarted_titlebox,
.homepage_titlebox{
  background-color: var(--darkBlue);
  border-radius: 40px;
  width: 23%;
  height: 69%;
  position: absolute;
  top: 7%;
  right: 11%;
  z-index: 1;
}

.getstarted_titlebox{
  left: 11%;
}

.getstarted_titlebox h1,
.homepage_titlebox h1{
  position: absolute;
  top: 60%;
  right: 10%;

  font-family: 'Red Rose';
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 45px;

  color: var(--white);
}

.getstarted_titlebox h1{
  top: 10%;
  right: 25%;
}

.getstarted_blankspace,
.homepage_blankspace{
  position: absolute;
  right: 0;
  border-radius: 40px 0px 0px 40px;
  background-color: var(--lightBlue);
  width: 30%;
  height: 100%;
}

.getstarted_blankspace{
  left: 0;
  border-radius: 0px 40px 40px 0px;
}

.vector{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.getstarted_vector img,
.homepage_vector img{
  object-fit: cover;
}

.getstarted_vector{
  position: absolute;
  left: 40%;
  top: 15%;
}

.button1{
  width: 70%;
  display: flex;
  justify-content: center;
}

.button1 a{
  display: flex;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  background-color: var(--darkBlue);
  color: var(--white);
  width: 70%;
  height: 60px;

  font-size: 32px;
  line-height: 25px;
}

.button1 a:hover{
  background-color: var(--darkBlueFaded);
  cursor: pointer;
}

nav{
  background-color: var(--darkBlue);
  height: 80px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
}

.logo{
  padding-left: 10px;
  font-size: 48px;
  line-height: 80px;
  color: var(--white);
}

.searchbar form{
  display: flex;
  align-items: center;
}

.searchbar form input[type = text]{
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 10px 0px 0px 10px;
  font-size: larger;
  border: none;
  background-color: #ffffff;
}

.searchbar form button{
  height: 50px;
  padding-left: 10px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: #ffffff;
}

.searchbar form button img{
  padding-right: 10px;
}

.searchbar form button:hover{
  background-color: var(--white);
  cursor: pointer;
}

.searchbar form button img{
  height: 35px;
}

.notificationandprofile{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.notificationandprofile button{
  border: none;
  background-color: var(--darkBlue);
  margin-right: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.notificationandprofile button:hover{
  cursor: pointer;
  background-color: var(--darkBlueFadedPlus);
}

.notificationandprofile button img{
  height: 40px;
}

